# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
14) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
15) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
16) List Comprehensions <br>
17) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number =6
x=7
print(x)
print(number)
print(type(x))

7
6
<class 'int'>

##### Assinging float

In [2]:
y=3.14
print(y)
print(type(y))

3.14
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1=2
num2=5.46
result = num1+ num2
print(result)
print(type(result))

7.46
<class 'float'>

##### Subtraction

In [4]:
dif =num2-num1
print(dif)
dif -= .46
print(dif)

3.46
3.0

##### Multiplication

In [5]:
prod = num1*num2
print(prod)

prod *= 2
print(prod)

10.92
21.84

##### Division

In [6]:
quo = num2/num1
print(quo)

quo/= 2.73
print(quo)
print(type(quo))

2.73
1.0
<class 'float'>

##### Floor Division

In [7]:
floor = 10//3
print(floor)
print(type(floor))

floor //=2
print(floor)

3
<class 'int'>
1

##### Modulo

In [8]:
mod = 10 % 6
print(mod)

mod %= 3
print(mod)

4
1

##### Exponential

In [9]:
square = 5** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [10]:
name="Lauren"
name2="Keegan"

print(name, type(name))
print(name2,type(name2))
#Strings are immutable

Lauren <class 'str'>
Keegan <class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print(name, name2, 3, True, sep='#',end="FINISHED")
print('new line')

Lauren#Keegan#3#TrueFINISHEDnew line

##### String Concatenation

In [12]:
first = "Will"
last = "Smith"
full = first + " " + last
print(full)
print(first)
print(last)

Will Smith
Will
Smith

##### Type Conversion

In [13]:
string_num = "23"
reg_num = 23
print(string_num, type(string_num))
print(reg_num, type(reg_num))
change = int(string_num)
print(change, type(change))

23 <class 'str'>
23 <class 'int'>
23 <class 'int'>

##### input()

In [14]:
age = input("What is your age? ")
add_age = age + 1
print("In one year you will be, " + add_age)

What is your age? 22

TypeError: can only concatenate str (not "int") to str

format()

In [ ]:
#f string
age = input("What is your age? ")
name = input("What is your name? ")
results = "My name is {name} and I am {age} years old"
print(results)

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")
car=f"Your car is a {color} {year} {make} {model}"
print(car)

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1=11
num2=1
if num2 > num1:
    print("Num2 is bigger")
if type(num2) == int:
    print("Num2 is an integer")
print("done")
    

num1=11
num2=11
if num2>num1:
    print("Num2 is bigger")
elif num2 <num1:
    print("Num1 is bigger")
else:
    print("They are equal")

print(num1)

##### 'is' keyword

In [ ]:
#is vs ==
#use the is keyword when checking for same/similar object NOT same value

laurens_grades=[100,99,100]
keegans_grades = [100,99,100]

print(laurens_grades == keegans_grades)
print(laurens_grades is keegans_grades)

##### 'in' keyword

In [ ]:
# check if a character is in a collection
character = "vecna"
if "e" in character:
    print("Found the e")
if "o" in character:
    print("Found the o")

##### 'not in' keyword'

In [ ]:
character = "vecna"
if "e" not in character:
    print("Found the e")
if "o" not in character:
    print("Found the o")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
response = input("What is your favorite pastime? ")
if "p" in response.lower():
    print("Your favorite pastime has a p in it")
if "p" not in response.lower():
    print("Your favorite pastime does not have a p in it")

## Using 'and'/'or' with If Statements

In [ ]:
num1=15
num2=3
num3=10
num4=3
if num1/5 == num2 and num3-7==num4:
    print("True and True")
if num1>num2 or num3==num4:
    print("True and False")

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
#SYNTAX
#for KEYWORD in ITERABLE:
name = "lauren"
for letter in name:
    print(letter)
#'letter' can be called anything!
print('')

#rather than looping through letters use range(len()) to loop through numbers
for index in range(len(name)):
    print(index,name[index])
    if index == 3:
        print("FOUND THE THIRD")

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for num in range(15):
    if num ==10:
        continue
    print(num)

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for num in range(15):
    if num ==10:
        break
    print(num)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
if True:
    pass

##### Double For Loops

In [ ]:
for i in range(3):
    for j in range(3):
        print("i=", i, "j=", j)
        
names = ['Lauren', 'Keegan']

for name in names:
    print(name)
    for char in name:
        print(char)

### While Loops

In [ ]:
#SYNTAX
#while CONDITION:
num =0
while num <10:
    print(num)
    num +=1
print("done")

answer = 64
correct = False
while not correct:
    guess = int(input("Guess a number between 0 and 100? "))
    if guess == answer:
        correct = True
        print("You got it!")
    else:
        print(f"Your guess {guess} was incorrect. Please try again.")

##### Looping 'While True'

In [ ]:
game_over = False
while True:
    print("Infinite Loop")
    if game_over == False:
        break

##### While & For Loops Used Together

In [ ]:
num = 0 
while num < 5:
    print("\n While loop iteration: ", num)
    
    for i in range(3):
        print("For loop iternation: ", i)
        
    num+=1

### Built-In Functions

##### range()

In [ ]:
#great for grabbing indices in for looping
#SYNTAX
#range(start, stop, step)
#start and step are optional
#start is always 0 and step is always 1 unless told otherwise!
for num in range(10):
    print(num)

print('')
for num in range(2,10,2):
    print(num)

print('')
for num in range(20,-10,-5):
    print(num)

##### len()

In [ ]:
#grabs length 
name = "Lauren"
length = len(name)
print(length)

for i in range(len(name)):
    print(i, name[i])

##### help()

In [ ]:
help(isinstance)

##### isinstance()

In [ ]:
num = "99"
if isinstance(num, int):
    num +=1
else:
    print(int(num)+1)

##### abs()

In [ ]:
# /-5/ turn to positive
abs(-5)

### Try and Except

In [ ]:
#handling errors
#while True: 
    #try:
        #answer = 7
        #guess = int(input("Guess a number between 1 - 10: "))
        #if guess == answer:
            #print("Correct!")
            #break
        #else:
            #print("Incorrect!")
    #except:
        #print("Invalid entry, please enter a digit")

### Lists

##### Declaring Lists

In [17]:
l1=[]
print(l1)
print(type(l1))

names = ['Lauren', 'Keegan']

[]
<class 'list'>

##### Indexing a List

In [18]:
second = names [1]
print(second)

Keegan

##### .append()

In [19]:
names.append('Nicole')
print(names)

['Lauren', 'Keegan', 'Nicole']

##### .insert()

In [20]:
names.insert(2,'Christopher')
print(names)

['Lauren', 'Keegan', 'Christopher', 'Nicole']

##### .pop()

In [21]:
# by default, pop will remove the LAST item and return it
last = names.pop()
print(last)
print(names)

#pop also allowes to pass in an index, so you don't have to only grab last item
another = names.pop(2)
print(another)
print(names)

Nicole
['Lauren', 'Keegan', 'Christopher']
Christopher
['Lauren', 'Keegan']


##### .remove()

In [27]:
#takes in an element, not an index
names.remove('Lauren')
print(names)

NameError: name 'Lauren' is not defined

##### del()

In [23]:
del(names[0])
print(names)

['Keegan']

##### Concatenating Two Lists

In [29]:
l1 = [1,2,3,4]
l2=[5,6,7,8]
beeg = l1+l2
print(beeg)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Lists Within Lists

In [36]:
grades = [[5,5,5,5,5],[4,5,2,5,4],[3,4,5,5,5]]
print(len(grades))
print(grades[1][2])

3
2

##### Looping Through Lists

In [39]:
names = ['Shoha', 'Brandt', ['Brandon', 'Michael']]

for name in names:
    if isinstance(name,list):
        for name2 in name:
                  print(name2)
    else:
        print(name)

Shoha
Brandt
Brandon
Michael

### String Manipulation

##### .lstrip()

In [41]:
# string.lstrip() will strip away white space 
name = "      Shoha"
print(name.lstrip())

name = "     xxxx xxxx Keegan"
print(name.lstrip(' x'))

Shoha
Keegan

##### .rstrip()

In [42]:
# string.rstrip()
name = "Shoha       "
print(name.rstrip())

Shoha

##### .strip()

In [43]:
# string.strip()
name = "    Shoha    "
print(name.strip())

Shoha

##### .title()

In [47]:
# string.title()
name = "ShOHa tSchIdA"
print(name.title())
print(name.lower())
print(name.upper())
print(name.capitalize())

Shoha Tschida
shoha tschida
SHOHA TSCHIDA
Shoha tschida

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

### Working With Lists

In [55]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

for name in names:
    print(name.strip().title())

C
M
E
J

##### min()

In [56]:
# min(list)
list1=[99,77,23,64,100]
myMin=min(list1)
print(myMin)

23

##### max()

In [57]:
# max(list)
myMax=max(list1)
print(myMax)

100

##### sum()

In [58]:
# sum(list)
mySum=sum(list1)
print(mySum)

363

##### sorted()

In [61]:
# sorted(list)
sorted(list1)
print(sorted(list1))
print(list1)

[23, 64, 77, 99, 100]
[99, 77, 23, 64, 100]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [62]:
# list.sort()

list1.sort()
print(list1)
# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

[23, 64, 77, 99, 100]

##### Copying a List

In [ ]:
# [:] copies a list, doesn't alter original

##### 'in' keyword

##### 'not in' keyword

##### Checking an Empty List

In [ ]:
# if l_1: or if l_1 = []

##### Removing Instances with a Loop

In [ ]:
# while, remove

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [ ]:
# number comprehension

# With a regular for loop


# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [ ]:
# square number comprehension

In [ ]:
# string comprehension

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

##### sorted()

##### Adding values to a Tuple

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [128]:
for num in range (1,1001):
    if num**3<1001:
        print(num**3)
    else:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [151]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
            

for x in range (1,101):
    if x > 1:
        for y in range (2,101):
            if x % y == 0:
                break
            else:
                print(x) 
                break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [64]:
age = int(input("What is your age? "))
if age < 18:
    print("kids")
elif age <65:
    print("adults")
else:
    print("seniors")

What is your age? 25
adults

## Exercise 4 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [152]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]
l_2 = []

for num in l_1:
    if num < 10:
        l_2.append(num)
print(l_2)

[1, 5, 8, 9]